html {
  font-family: "Avenir Next", Helevetica, sans-serif;
  text-align: center;
}

body {
  margin: 0 auto;
  color: #696969;
}

input {
  padding: 5px;
  margin-top: 30px;
  width: 400px;
  height: 70px;
  font-size: 40px;
  border: 1px dashed #696969;
  cursor: pointer;
}

input:focus {
  outline: none;
}

li {
  text-align: left;
  font-size: 35px;
  list-style: none;
  margin: 0;
  display: block;
  cursor: pointer;
}

.main_info {
  display: flex;
  margin-left: 200px;
}

#list {
  margin-left: 250px;
}

.task_status, .amount_tasks {
  display: flex;
  outline: 0px solid #000;
}

.amount_tasks {
  margin-top: -10px;
  justify-content: space-around;
  outline: 0px solid #cc0000;
}

.task_status li {
  margin-right: 20px;
  font-size: 25px;
}

.amount_tasks li {
  font-size: 22px;
  outline: 0px solid #000;
  cursor: auto;
  margin-left: -50px;
}

.checked {
  text-decoration: line-through;
  color: #5F9EA0;
}

.delete, .edit {
  display: inline-block;
  cursor: pointer;
  color: #555555;
}

.delete:active, .edit:active {
  text-decoration: none;
}

.remove-item {
  display: none;
}

@media only screen and (max-width : 1200px) {
  .about_tasks{
    position: absolute;
    top: 25px;
    right: 5px;
  }
  #list{
    margin-left: 110px;
  }
}

@media only screen and (max-width : 992px) {
  .about_tasks{
    position: absolute;
    top: 25px;
    right: 5px;
  }
}

@media only screen and (max-width : 768px) {
  .task_status, .amount_tasks {
    flex-direction: column;
  }
  .task_status li, .amount_tasks li{
    font-size: 18px;
  }
  .amount_tasks{
    margin-left: 110px;
    margin-top: -80px;
  }
  .about_tasks{
    position: absolute;
    top: 25px;
    right: 10px;
  }
  input{
    font-size: 30px;
    width: 300px;
  }
}
