.todo {
  margin-left: 650px;
}

.todo input.todo-field {
  margin-top: 20px;
  width: 480px;
  height: 36px;
  font-size: 40px;
  vertical-align: top;
  font-family: 'Josefin Sans', sans-serif;
}

.todo .checked {
  text-decoration: line-through;
}

li {
  list-style-type: none;
  font-size: 25px;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

ul {
  margin-left: 50px;
  font-family: 'Josefin Sans', sans-serif;
}

.list {
  display: flex;
  font-size: 25px;
  color: #696969;
}

.task-deleted {
  display: none;
}
