<div class="todo">

  <div>
    <form (submit)="addTodo($event)">
      <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="todo-field" name="newTodo"
             placeholder="Enter your plans here...">
    </form>
  </div>

  <ul>
    <li *ngFor="let todo of todo" class="list" [ngClass]="{'task-deleted': todo.isDeleted}">
      <span [ngClass]="{'checked': todo.isChecked}">{{ todo.newTodo }}</span>
      <app-task-detail [task]="todo" (synchronize)="update($event)"></app-task-detail>
    </li>
  </ul>

</div>
